# Ignore compiled class files
*.class

# Ignore package files
*.jar
*.war
*.ear

# Ignore build directories
/bin/
/build/
/out/

# Ignore IDE files
*.log
*.iml
.idea/
.vscode/
# Ignore temporary files
*.tmp  
